/*clients*/

.clients {
  border: dashed 2px;
  background: inherit;
  padding: 30px 15px;
}

.clients__title {
  display: none;
}

.clients__wrapper {
}

@media(min-width: 768px) {
  .clients__wrapper {
    width: 690px;
    margin: 0 auto;
  }
}

@media(min-width: 1152px) {
  .clients__wrapper {
    width: 930px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .clients__wrapper {
    width: 1110px;
    margin: 0 auto;
  }
}

.clients__brands {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
  .clients__brands {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1152px) {
  .clients__brands {
    display: grid;
    gap: 43px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1440px) {
  .clients__brands {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
  }
}
