/*footer*/

.footer {
  background: #484848;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  padding: 30px 15px;
}

.footer__wrapper {
}

@media(min-width: 768px) {
  .footer__wrapper {
    width: 690px;
    margin: auto;
    padding-left: 0;
  }
}

@media(min-width: 1152px) {
  .footer__wrapper {
    width: 927px;
  }
}

@media(min-width: 1440px) {
  .footer__wrapper {
    width: 1112px;
  }
} 

.footer__columns {
  font-size: 16px;
  font-weight: 700;
}

.footer__info {
}

@media(min-width: 768px) {
  .footer__info {
    display: flex;
    max-width: 690px;
  }
}

@media(min-width: 1152px) {
  .footer__info {
    display: flex;
    max-width: 927px;
  }
}

@media(min-width: 1152px) {
  .footer__info {
    display: flex;
    max-width: 1112px;
  }
}

.footer__logo {
  max-width: 216px;
}

.footer__copy {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 10px;
  font-style: normal;
}

@media(min-width: 768px) {
  .footer__copy {
    font-size: 14px;
    line-height: 21px;
    margin-top: 10px;
  }
}

@media(min-width: 1152px) {
  .footer__copy {
    font-size: 14px;
    line-height: 24px;
  }
}

@media(min-width: 1440px) {
  .footer__copy {
    font-size: 16px;
  }
}

.footer__dev {}

@media(min-width: 768px) {
  .footer__dev {
    margin-right: 0;
  }
}

.footer__developer {
  width: 130px;
  height: 46px;
  display: block;
  margin: 10px auto 0px;
 }

@media(min-width: 768px) {
  .footer__developer {
    width: 160px;
    height: 60px;
    margin-left: 30px; 
  }
}
