.section-order {
  display: none;
}

.section-order.visible {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  padding: 15px;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
}
