@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
}

.app.dark {
  background: #333;
  color: #fff;
}

body {
  color: #000;
  /* padding-top: 50px; */
  font-family: "Nunito", sans-serif;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

/*header*/

.header {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  color: #000;
  background: #fff;
}

.header.dark {
  color: #fff;
  background: #333;
}

.header::after {
  content: "";
  display: block;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  border-bottom: solid 1px #aaa;
  background: inherit;
  box-shadow: 0px 0px 15px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 15px;
}

.header__logo {
  height: 30px;
  width: 77px;
  color: currentColor;
  z-index: 3;
}

.header__logo svg {
  height: 100;
  width: 100;
  display: block;
  object-fit: cover;
  fill: currentColor;
}

/* .header__nav {} */

.header__buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
  z-index: 3;
}

.header__lang {
  height: 30px;
  color: currentColor;
  background: inherit;
  border: solid 1px currentColor;
  border-radius: 4px;
}

.header__theme {
  margin-left: 20px;
  height: 26px;
  width: 26px;
  color: currentColor;
}

.header__theme svg {
  fill: currentColor;
}

.header__burger {
  margin-left: 20px;
  position: relative;
  height: 20px;
  width: 30px;
  color: currentColor;
}

.header__burger span {
  display: block;
  height: 2px;
  width: 100%;
  background: currentColor;
}

.header__burger::before {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  height: 2px;
  width: 100%;
  background: currentColor;
}

.header__burger::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  height: 2px;
  width: 100%;
  background: currentColor;
}

.header__burger.active::before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.header__burger.active span {
  opacity: 0;
}

.header__burger.active::after {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

/*menu*/

.header__menu {
  display: none;
  position: fixed;
  top: 50px;
  /* top: -100%; */
  left: 0;
  right: 0;
  background: #fff;
  z-index: 2;
  /* box-shadow: 0px 0px 15px; */
}

.header__menu.active {
  top: 50px;
  display: block;
}

.menu__item {
  border-bottom: 1px solid #aaa;
}

.menu__item a {
  display: block;
  padding: 23px 15px;
  font-size: 24px;
}

/*download*/

.download {
  border: dashed 2px red;
  padding: 30px 15px;
}

.download__wrapper {
}

.download__text-block {
}

.download__title {
  font-size: 30px;
  font-weight: 700;
}

.download__copy {
  margin-top: 10px;
}

.download__links {
  margin-top: 20px;
}

.download__link {
  display: block;
  width: 150px;
  height: 44px;
}

.download__link:last-child {
  margin-top: 20px;
}

.download__image-block {
  margin-top: 30px;
  border: 1px solid #aaaa;
  border-radius: 20px;
  overflow: hidden;
}

.download__image {
  display: block;
}

/*warranty*/

.warranty {
  border: dashed 2px blue;
  padding: 20px 15px;
}

.warranty__wrapper {
}

.warranty__text-block {
}

.warranty__title {
  font-size: 26px;
  font-weight: 700;
}

.warranty__copy {
  margin-top: 10px;
}

.warranty__copy:first-of-type {
  margin-top: 20px;
}

.warranty__image-block {
  margin-top: 30px;
  border: 1px solid #aaaa;
  border-radius: 20px;
  overflow: hidden;
}

.warranty__image {
}

/*care*/

.care {
  border: dashed 2px yellowgreen;
  padding: 30px 15px;
}

.care__wrapper {
}

.care__text-block {
}

.care__title {
  font-size: 26px;
  font-weight: 700;
}

.care__copy {
  margin-top: 10px;
}

.care__copy:first-of-type {
  margin-top: 20px;
}

.care__image-block {
  margin-top: 30px;
  border: 1px solid #aaaa;
  border-radius: 20px;
  overflow: hidden;
}

.care__image {
}

/*cashback*/

.cashback {
  border: dashed 2px blue;
  padding: 30px 15px;
}

.cashback__wrapper {
}

.cashback__text-block {
}

.cashback__title {
  font-size: 26px;
  font-weight: 700;
}

.cashback__copy {
  margin-top: 10px;
}

.cashback__button {
}

/*clients*/

.clients {
  border: dashed 2px;
  background: inherit;
}

.clients__title {
  display: none;
}

.clients__wrapper {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 130px 30px 130px;
  padding: 30px 15px;
}

.clients__text-block {
}

.clients__brands {
}

/*footer*/

.footer {
  background: #484848;
  color: fff;
}

.footer__wrapper {
  padding: 30px 15px;
}

.footer__columns {
  font-size: 16px;
  font-weight: 700;
}

.footer__info {
}

.footer__logo {
}

.footer__copy {
}

.footer__dev {
}

/*column*/

.column {
}

.column__title {
}

.column__list {
}

.column__item {
}
